@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h1>Access Denied</h1>
<hr/>
<h3>You don't have role or permission to view this page</h3>
<a asp-controller="Home" asp-action="Index" class="btn btn-secondary">Return to home</a>