.card_component
{
    width: 19%;
}
.card_component
{
    width: 300px;
    margin-left: 70px;
}
canvas
{
  width: 1200px;
  height: 500px;
}

.vertical
{
    padding: 0px;
}
.card_component {
    background-color: white;  
  }
  
  .table_recentorder {
    background-color: white; 
  }
  
  .ant-space {
    background-color: white;  
  }
  
  .ant-card {
    background-color: white; 
  }



