.logoad
{
    height: 60px;
    width: 60px;
    margin-left: 100px;
}
.client {
    margin-top: 10px;
    font-size: 60px;      /* Điều chỉnh kích thước biểu tượng */
    color: black;         /* Đổi màu biểu tượng */
    cursor: pointer;      /* Thêm con trỏ khi hover */
    margin-right: 100px; 

    /* Hiệu ứng khi thay đổi màu */
  }
  
  .client:hover {
    color: #ffcc00; /* Màu vàng khi hover */
  }
  