.logoad
{
    height: 60px;
    width: 60px;
    margin-left: 100px;
}
.client {
    margin-top: 10px;
    font-size: 60px;      
    color: black;       
    cursor: pointer;     
    margin-right: 100px; 

  }
  
  .client:hover {
    color: #ffcc00;
  }
  