.size_table {
  padding-left: 20px;
  width: 100%;
}

.data {
  margin-left: 20px;
  width: auto;
}

.form_addedit Input {
  padding: 10px;
}

.data .ant-table-thead > tr > th {
  text-align: center; 
  width: auto;
}

.data .ant-table-tbody > tr > td {
  text-align: center; 
}

.modal-input {
  width: 90%;
  height: 50px; 
}

.size_table .ant-table {
  height: auto; 
}

.size_table .ant-table-body {
  display: flex;
  align-items: stretch; 
}

.size_table .ant-table-tbody > tr > td {
  height: 50px; 
  line-height: 50px;
}

.modal-input {
  height: 40px; 
}

.ant-select-selector {
  height: 40px !important; 
  align-items: center;
}

.ant-table-row.ant-table-row-level-0 {
  height: auto; 
}
.data .ant-table-row {
  height: 90px;
  padding: 0px;
}
.data .ant-table-cell.ant-table-cell {
  padding: 10px; 
}