.size_table {
  padding-left: 20px;
  width: 100%;
}

.data {
  margin-left: 20px;
  width: auto;
  /* border: 1px solid black; */
}

.form_addedit Input {
  padding: 10px;
}

.data .ant-table-thead > tr > th {
  text-align: center; /* Căn giữa tiêu đề cột */
  width: auto; /* Chiều rộng tự động cho các cột */
}

.data .ant-table-tbody > tr > td {
  text-align: center; /* Căn giữa nội dung cột */
}

.modal-input {
  width: 100%;
  height: 50px; /* Điều chỉnh khoảng cách theo ý muốn */
}

.size_table .ant-table {
  height: auto; /* Thay đổi thành auto để chiều cao tự động điều chỉnh */
}

.size_table .ant-table-body {
  display: flex;
  align-items: stretch; /* Đảm bảo các dòng dữ liệu kéo dài theo chiều cao */
}

.size_table .ant-table-tbody > tr > td {
  height: 50px; /* Điều chỉnh chiều cao từng hàng */
  line-height: 50px; /* Đặt nội dung căn giữa */
}

.modal-input {
  height: 40px; /* Đặt chiều cao của Input */
}

.ant-select-selector {
  height: 40px !important; /* Đặt chiều cao của Select */
  align-items: center;
}

/* Sửa lại selector với cú pháp đúng */
.ant-table-row.ant-table-row-level-0 {
  height: auto; /* Điều chỉnh chiều cao cho các dòng ở cấp độ 0 */
}
