@model Domain.Entities.Cartdetail

<head>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"/>
</head>

<h1>Edit Cart Detail</h1>

<form asp-action="Edit" class="container mt-4">
	<input type="hidden" asp-for="CartDetailId"/>
	<div class="form-group">
		<label asp-for="CartId">Cart</label>
		<select asp-for="CartId" class="form-control" asp-items="ViewBag.CartId"></select>
		<span asp-validation-for="CartId" class="text-danger"></span>
	</div>
	<div class="form-group">
		<label asp-for="GameId">Game</label>
		<select asp-for="GameId" class="form-control" asp-items="ViewBag.GameId"></select>
		<span asp-validation-for="GameId" class="text-danger"></span>
	</div>
	<div class="form-group">
		<label asp-for="Quantity"></label>
		<input asp-for="Quantity" class="form-control"/>
		<span asp-validation-for="Quantity" class="text-danger"></span>
	</div>
	<div class="form-group">
		<label asp-for="Price"></label>
		<input asp-for="Price" class="form-control"/>
		<span asp-validation-for="Price" class="text-danger"></span>
	</div>
	<div class="form-group">
		<label asp-for="Discount"></label>
		<input asp-for="Discount" class="form-control"/>
		<span asp-validation-for="Discount" class="text-danger"></span>
	</div>
	<div>
		<input type="submit" value="Save" class="btn btn-primary"/>
		<a asp-action="Index" class="btn btn-secondary">Back to List</a>
	</div>
</form>