.home-page {
    margin: 0;
    padding: 0;
    width: 100%;
    padding-bottom: 50px;
    min-height: 100vh;
    overflow-x: hidden;
    background-color: #161b22;
}

.banner {
    display: flex;
    width: 99vw; /* Mở rộng để tất cả ảnh nằm trong banner */
    animation: slide 15s infinite;
}

.banner-image {
    margin-top: 70px;
    width: 100vw; /* Chiều rộng của ảnh chiếm toàn bộ màn hình */
    height: calc(100vw / 3); /* Tính chiều cao theo tỷ lệ 3:1 */
    object-fit: cover; /* Cắt bớt ảnh nếu cần để giữ tỷ lệ */
}

.game-section {
    margin-top: 20px;
    padding: 20px;
}

    .game-section h2 {
        font-size: 2.5rem;
        color: aqua;
        margin-bottom: 35px;
        text-align: center;
        text-transform: uppercase;
        font-weight: bold;
        background: linear-gradient(90deg, #00ffff, #0066ff);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        animation: glow 1.5s infinite alternate;
    }

.game-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.game-item {
    width: calc(20% - 10px);
    text-align: center;
    margin-left:40px;
}

    .game-item img {
        width: 100%;
        height: auto; /* Đảm bảo tỷ lệ 3:4 cho hình ảnh */
        aspect-ratio: 3 / 4; /* Tỷ lệ ảnh 3:4 */
        object-fit: cover; /* Giữ cho ảnh không bị méo */
        border-bottom: 2px solid #00ffff; /* Đường kẻ dưới hình */
    }

    .game-item h3 {
        margin: 10px 0 5px;
        font-size: 18px;
        color: #ffffff; /* Màu chữ trắng */
        text-transform: capitalize; /* Viết hoa chữ cái đầu */
        display: -webkit-box;
        -webkit-line-clamp: 1; /* Hiển thị tối đa 1 dòng */
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
    }


.game-item p {
    color: #888;
    font-size: 14px;
}

/* Slide Animation for Banner */
@keyframes slide {
    0%, 20% { transform: translateX(0); }
    25%, 45% { transform: translateX(-100vw); }
    50%, 70% { transform: translateX(-200vw); }
    100% { transform: translateX(0); }
}

.publisher-section,
.genre-section {
    margin: 20px;
}

    .publisher-section h2,
    .genre-section h2 {
        font-size: 2.5rem;
        color: aqua;
        margin-bottom: 35px;
        text-align: center;
        text-transform: uppercase;
        font-weight: bold;
        background: linear-gradient(90deg, #00ffff, #0066ff);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        animation: glow 1.5s infinite alternate;
    }

.publisher-grid,
.genre-grid {
    margin-left: 50px;
    margin-right: 50px;
    display: flex;
    flex-wrap: wrap;
    gap: 3rem;
}

.publisher-item-h,
.genre-item-h {
    flex: 1 1 calc(20% - 1rem); /* Adjusted to fit 5 items */
    background-color: #1e242c;
    padding: 1rem;
    border-radius: 0.8rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
}

.publisher-item-h h3,
.genre-item-h h3 {
    font-size: 1.7rem;
    margin: 0.5rem 0;
    color: #fff;
    text-align:center;
    font-weight:bold;
}

.publisher-item-h p,
.genre-item-h p {
    font-size: 0.875rem;
    color: #aaa;
    margin: 0.5rem 0;
}

.publisher-item,
.genre-item {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    margin-top: 2rem;
}

.publisher-item img,
.genre-item img {
    width: 100px; /* Adjusted size */
    height: 130px; /* Adjusted size */
    object-fit: cover;
    margin-right: 0.7rem;
}

.publisher-item .game-details,
.genre-item .game-details {
    display: flex;
    flex-direction: column;
}

    .publisher-item h4,
    .genre-item h4 {
        font-size: 1.15rem;
        color: #a39e9e;
        margin: 0;
        font-weight: bold;
    }

    .publisher-item p,
    .genre-item p {
        font-size: 1rem;
        color: aqua;
        margin: 0;
        margin-top: 0.25rem; /* Adjusted to push price below the title */
        font-weight: bold;
    }