.form-register
{
    width: 100%;
    height: 100%;
}
.register
{
    margin-top: 20px;
}
*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
    background: black; /* Đặt background thành màu trắng */
    display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  }

.wrapper
{
    height: 600px;
    width: 500px;
    background: rgb(2, 28, 34);
    color:#000000;
    border-radius: 10px;
    padding: 30px 40px;
}

.logo img
{
    
    height: 50px;
    width: 50px;
}
.logo
{
    display: flex;
    justify-content: center;
    padding: 20px;
}
.error {
    color: red;
    margin-bottom: 15px;
    text-align: center;
    /* display: none; */
}
.wrapper h1
{
    color: white;
    font-size: 36px;
    text-align: center;
    padding: 10px;
}
.wrapper .input_box
{
    position: relative;
    width: 100%;
    height: 50px;
    /* background: blue */
    margin: 30px 20px 20px 0px;
}
.input_box input
{
    width: 100%;
    height: 100% ;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid wheat;
    border-radius: 2px;
    font-size: 16px;
    color: aquamarine;
    padding: 20px 20px 20px 20px;
     
}
.input_box input::placeholder
{
     color: white;
}
.input_box .icons
{
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 16px;
}
.input_box .iconseyes
{
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 16px;
}
.wrapper .forgot{
    display: flex;
    justify-content: center;
    font-size: 15px;
    padding: 10px 15px;
    margin: -15px 0 15px;
    
}
 .forgot a{
    color: white;
    text-decoration: none;
 }
 .forgot a::hover
 {
    text-decoration: underline;
 } 
 .wrapper button {
    width: 100%;
    height: 45px;
    background: whitesmoke;
    border: none;
    outline: none;
    border-radius: 5px;
    box-shadow: 0 0 10px rebeccapurple;
    cursor: pointer;
    font-size: 25px;
    color: blueviolet;
    font-weight: 700 ;
 }
 .wrapper .login-link
 {
    font-size: 15px;
    text-align: center;
    margin-top: 30px;
 }
 .login-link p
 {
    color: aliceblue;
 }
 .login-link  a{
    color: white;
    text-decoration: none;
    font-weight:600;
 }
 .login-link p a::hover{
    text-decoration: underline;
 }
 .icons 
 {
    color: white;
 }