@model EpicGameWebAppStore.Domain.Entities.Publisher

<h1>Create Publisher</h1>

<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" />
</head>

<form asp-action="Create" class="container mt-4">
    <div class="form-group">
        <label asp-for="Name"></label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div>
        <label asp-for="Address"></label>
        <input asp-for="Address" />
        <span asp-validation-for="Address"></span>
    </div>
    <div>
        <label asp-for="Email"></label>
        <input asp-for="Email" />
        <span asp-validation-for="Email"></span>
    </div>
    <div>
        <label asp-for="Phone"></label>
        <input asp-for="Phone" />
        <span asp-validation-for="Phone"></span>
    </div>
    <div>
        <label asp-for="Website"></label>
        <input asp-for="Website" />
        <span asp-validation-for="Website"></span>
    </div>
    <div>
        <input type="submit" value="Create" class="btn btn-primary" />
    </div>
</form>
